<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New user</title>
</head>
<body>

<form th:method="POST" th:action="@{/registration}" th:object="${user}">
  <label for="login">Enter login: </label>
  <input type="text" th:field="*{login}" id="login"/>
  <br/>
  <label for="password">Enter password: </label>
  <input type="text" th:field="*{password}" id="password"/>
  <br/>
  <label for="email">Enter email: </label>
  <input type="text" th:field="*{email}" id="email"/>
  <br/>
  <label for="phone">Enter phone: </label>
  <input type="text" th:field="*{phone}" id="phone"/>
  <br/>
  <input type="submit" value="Registration"/>
</form>



</body>
</html>